{{>sellerNavBar}}
<div class="dashboard-container">
<section class="infos-placeholder">
  <div class="shop-infos">
    <img src={{shop.image}} alt={{shop.name}} width="300">
    <div class="infos">
      <h1>{{shop.name}}</h1>
      <div>{{shop.description}}</div>
      <div>{{shop.address.address1}},<br>{{shop.address.city}},<br>{{shop.address.departement}}</div>
    </div>
  </div>
</section>
<section class="link-placeholder">
  <a href="/myshop/myshelves/{{shop._id}}" class="gotomy">My Shelves</a>
  <a href="/myshop/myorders/{{shop._id}}" class="gotomy"> My Orders</a>
</section>
</div>

