{{!-- {{#each baskets}}
<div>{{this.shop_id.name}}</div>
{{#each this.list_products}}
<div>{{this.name}}</div>
<div>{{this.price}} €{{this.unity}}</div>
<hr>
{{/each}}
<button>Commander</button>
{{/each}} --}}
<div>{{baskets}}</div>