{{>customerNavBar}}
{{>header}}
<div clas="cat-main">
{{#if products}}
<h1>Ces commerçants vendent ce que vous recherchez ...</h1>
{{#each products}}
 <a href="/shopping/shop/{{this.id_shop}}">
        <div class="shop-block">
            <img class="image-shop"alt="shop" src="{{this.id_shop.image}}" width="300">
            <h3>{{this.id_shop.name}}</h3>
            <p class="description">{{this.id_shop.description}}</p>
        </div>
</a>
{{/each}}
{{else}}
<div class="no-result">No shops yet !</div>
{{/if}}

