{{>customerNavBar}}
<div class="item-placeholder" data-shop-id="{{shop.id}}">
<div class="image-infos" data-shop-id="{{shop.id}}">
  <img class="product-image" alt="{{product.name}}" src={{product.image}} width="300">
  <div class="infos-placeholder" data-item-id="{{product.id}}">
        <h1>{{product.name}}</h1>
        <div>{{product.description}}</div>
        <div>{{product.price}}€ ({{product.unity}})</div>
        <label for="quantity">Quantité</label>
        <input name="quantity" id="quantity" type="number">
  </div>
  </div>
<button id="order-button" class="btnorder">ORDER</button>
</div>

<section id="other-products">
<h2>Ce commerçant vend aussi ...</h2>
{{#each otherProducts}}
      <div>
        <img src="{{this.image}}" alt="" width="150"> 
        <h3>{{this.name}}</h3>     
        </div>
{{/each}}
</section>